:root {
    --tile-size : 70px;
    --light-tile : #a6deec;
    --dark-tile : #8b8b8a;
    --bg-color : #202020;
    --highlight : rgba(0,0,0,.1);
    --check : #FEEC48;
}

@media all and (max-width: 450px) {
    :root {
        --tile-size : 50px;
    }
}